html, body {
	height: 90%;
	width: 100%;
}

#contenedor, #map {
	height: 100%;
	width: 100%;
}

#map {
	border-top: 6px solid grey;
}
 
.info h4 {
	margin: 0 0 5px;
	color: #777;
}

.legend {
	line-height: 18px;
	color: #555;
}

.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}

.botoncolor{
	color: #fff;
	background-color: #a75757 !important;
	border-color: black !important;
	background-color: #a75757 !important;
}

.selectButton {
	color: black;
	line-height: 12px;
	margin: 5px;
	padding: 1px 0px;
	height: 38px;    
}

.locationButton {
	color: black;
	line-height: 12px;
	margin: 6px;
	padding: 5px 2px;
	height: 38px;
}

p {
	margin: 0 0 0px important!;
}

.btn-group.queryData {
	color: black;
	line-height: 12px;
	margin: 15px;
	padding: 5px 2px;
	height: 38px;
	left: 7px;
}

#charts{
	z-index: 20;
	top: 45px;
	padding-top: 5px;
	position: relative;
}

.unvisible {
  visibility: hidden;
}

.monitor{
	position: absolute;
}

.monitor-title {
	position: absolute;
	padding-top: 5px;
	width: 500px;
	height: 55px;
	top: 5px;
	left: 43px;
	z-index: 20;
	color: #fff;
	text-align: center;
	font-size: 12px;
	background: #BC141A;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
}

.awesome-marker i {
	font-size: 18px;
	margin-top: 8px;
}

.popupPhoto {
	width: 305px;
	height: 183px;
}

.activeButton {
	background-color: red;
}

.active {
	background-color: #ffd479;
}

.inactive {
	background-color: #e7e6ef;
}

.nav-tabs {
	background-color: #e7e6ef;
	width: 438px;
}

.navegador {
	width: 900px !important;
}

.cabecera {
	background-image: url("/images/background.jpg");
}

.titulo {
	font-size: 40px;
	color: black;
	font-weight: bold;
}

#displayData {
	font-size: 20px;
}

#nearMe {
	font-size: 20px;
}


@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	[class*="titulo"] {
	    font-size: 20px;
	}
	[class*="navegador"] {
		width: 370px !important;
	}
	[class*="queryData"]{
		margin: 3px;
		padding: 5px 2px;
		height: 39px;
		left: 0px;
	}

	[class*="selectButton"]{
		height: 54px;
	}

	button[type="button"]{
		font-size: 10px;
	}

	.texto{
		font-size: 10px;
		margin: 0px !important;
	}

	#displayData{
		font-size: 10px;
	}
	#locateMe{
		font-size: 10px;
	}

	.nav-tabs {
		background-color: #e7e6ef;
		width: auto;
	}

	[class*="monitor-title"]{
		position: absolute;
		padding-top: 5px;
		width: 151px;
		height: 65px;
		top: 5px;
	}
}

